html
	head
		title.
			lol statistics, counterpicks, builds, ranks
	body
		header
		main(ui-view="")
		footer
		script.
			var js = document.createElement('script');
			js.setAttribute('src','./dist/scripts/bundle.js');
			document.head.appendChild(js);