
.icon-home:before { content: '\e800'; } /* '' */
.icon-profile:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-champions:before { content: '\e803'; } /* '' */
.icon-items:before { content: '\e804'; } /* '' */
.icon-statistics:before { content: '\f1fe'; } /* '' */